{
  "presets": [
    "module:metro-react-native-babel-preset"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-remove-console"
      ]
    },
    "development": {
      "presets": [
        [
          "module:metro-react-native-babel-preset",
          {
            "development": true
          }
        ]
      ]
    }
  },
  "plugins": [
    [
      "module-resolver",
      {
        // "cwd": "babelrc",
        "root": [
          "./src"
        ],
        "alias": {
          "api": "./src/api",
          "assets": "./src/assets",
          "constant": "./src/constant",
          "components": "./src/components",
          "languages": "./src/languages",
          "manager": "./src/manager",
          "reducer": "./src/reducer",
          "sagas": "./src/sagas",
          "scenes": "./src/scenes",
          "services": "./src/services",
          "storeConfig": "./src/storeConfig",
          "utils": "./src/utils",
          "test": "./test",
          "underscore": "lodash"
        },
        "extensions": [
          ".android.js",
          ".ios.js",
          ".js",
          ".json"
        ]
      }
    ]
  ],
  "retainLines": true
}